[package]
name = "piping-server"
version = "0.16.0"
authors = ["Ryo Ota <nwtgck@nwtgck.org>"]
edition = "2018"

[dependencies]
hyper = { version = "0.14", features = ["stream", "server", "http1", "http2", "tcp"] }
futures = { version = "0.3", default-features = false, features = ["std"] }
clap = { version = "4.3.8", features = ["derive"] }
http = "0.2"
tokio = { version = "1.28", features = ["rt-multi-thread", "macros", "net"] }
rustls = "0.21"
rustls-pemfile = "1.0"
futures-util = { version = "0.3", default-features = false, features = ["std"] }
tokio-rustls = "0.24"
log = "0.4"
env_logger = "0.10"
pin-project-lite = "0.2"
mime = "0.3"
mpart-async = { version = "0.6", default-features = false }
serde_urlencoded = "0.7"
url = { version = "2.3", default-features = false }
notify = "5.1.0"
getrandom = { version = "0.2", default-features = false }
base64 = "0.21"
dashmap = "5.3"

[dev-dependencies]
specit = {version  = "0.4.0", features = ["tokio"] }
hyper = { version = "0.14", features = [ "client" ] }
regex = "1.8"
