[package]
name = "piping-server"
version = "0.12.1"
authors = ["Ryo Ota <nwtgck@nwtgck.org>"]
edition = "2018"

[dependencies]
hyper = { version = "0.14", features = ["stream", "server", "http1", "http2", "tcp"] }
futures = { version = "0.3", default-features = false, features = ["std"] }
clap = { version = "3.1.7", features = ["derive"] }
http = "0.2"
tokio = { version = "1.17", features = ["rt-multi-thread", "macros", "net"] }
rustls = "0.20"
rustls-pemfile = "0.3"
futures-util = { version = "0.3", default-features = false, features = ["std"] }
tokio-rustls = "0.23"
log = "0.4"
env_logger = "0.9"
pin-project-lite = "0.2"
mime = "0.3"
mpart-async = { version = "0.5", default-features = false }
serde_urlencoded = "0.7"
url = { version = "2.2", default-features = false }
notify = "4.0.16"

[dev-dependencies]
specit = {version  = "0.4.0", features = ["tokio"] }
hyper = { version = "0.14", features = [ "client" ] }
