[package]
name = "piping-server"
version = "0.8.1"
authors = ["Ryo Ota <nwtgck@nwtgck.org>"]
edition = "2018"

[dependencies]
hyper = { version = "0.13", features = ["stream"] }
futures = "0.3"
structopt = "0.3"
http = "0.2"
tokio = { version = "0.3", features = ["macros", "stream"] }
rustls = "0.18"
hyper-rustls = "0.21"
futures-util = "0.3"
tokio-rustls = "0.14"
log = "0.4"
env_logger = "0.7"
pin-project-lite = "0.1"

[dev-dependencies]
specit = {version  = "0.3.0", features = ["tokio"] }
